# Ignore everything
*

# But not these files
!.gitignore
!example.tf
!main.tf
!output.tf
!.gitattributes

# Explicitly ignore the .terraform directory
.terraform/
terraform.tfstate
terraform.tfstate.backup
